@charset "UTF-8";

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
    max-width: 320px;
    width: 100vw;
}

main > p {
    text-align: justify;
}

ul {
    text-align: left;
}

footer {
    margin: 50px auto 50px auto;
}

footer > p {
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}