@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
}

main {
    max-width: 321px;
    margin: auto;
}

main > p {
    text-align: justify;
}

ul {
    text-align: left;
}

footer {
    margin: 50px auto 50px auto;
}

footer > p {
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}